

{% extends 'layouts/base.html' %}
{% load custom_tag %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0">Default</h6>
              <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                  <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                  <li class="breadcrumb-item"><a href="#">Dashboards</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Default</li>
                </ol>
              </nav>
            </div>
            <div class="col-lg-6 col-5 text-right">
              <a href="#" class="btn btn-sm btn-neutral">New</a>
              <a  data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-sm btn-neutral">Add User</a>
            </div>
          </div>
          <!-- Card stats -->
         
        </div>
      </div>
    </div>

    

     <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Total Users </h5>
        <h5 class="card-title">{{user.id|total_users}}</h5>
        
      </div>
      
  </div>
    {% for i in user %}
    <table class="table">
      <thead>
        <tr>
            <th scope="col">FIRST NAME</th>
            <th scope="col">EMAIL</th>
            <th scope="col">CREATED ON</th>
        </tr>
      </thead>
      <tbody>
          
        <tr>
            <th scope="row">{{i.first_name}}</th>
            <td>{{i.email}}</td>
            <td>{{i.created_on}}</td>
         
        </tr>
      
      </tbody>
    
    </table>
    
    <a href="{% url 'users:edit_user' i.id %}"  class="btn btn-primary">EDIT</a>
   
    <a href="{% url 'users:view_user' i.id %}" class="btn btn-primary">VIEW</a>

    <a href="{% url 'users:deleteUser' i.id %}"  class="btn btn-primary">DELETE</a>
    {%endfor%}

    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="{% url 'users:User' %}" method='POST'>
              {% csrf_token %}
            <div class="form-group">
              <label for="exampleInputEmail1"> FirstName</label>
              <input type="text" class="form-control" id="firstName" name='firstName' aria-describedby="emailHelp" placeholder="Enter firstName">
              <label for="exampleInputEmail1"> EMAIL</label>
              <input type="email" class="form-control" id="email" name='email' aria-describedby="emailHelp" placeholder="Enter email">
              <label for="exampleInputEmail1"> Password</label>
              <input type="password" class="form-control" id="password" name='password' aria-describedby="emailHelp" placeholder="Enter password">
              
            </div>
            
           
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>

    <!-- Page content -->
 

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

  <script src="/static/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="{/static/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/static/vendor/chart.js/dist/Chart.extension.js"></script>

{% endblock javascripts %}
